<h1>MyPantry</h1>

<div id="app">
  {{ message }}
  <datalist id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <option><%= ingredient.name %></option>
  <% end %>
<!--   <option v-for="ingredient in ingredients">{{ ingredient.name }}</option> -->
  </datalist>

  <p>Add Ingredient: <input v-model="newPantryItem" list="ingredients"></input><button v-on:click="addPantryItem()">Add</button>{{newPantryItem}}</p>

  <p>Suggestions: </p>
  <button v-on:click="getIngredients()">get</button>
  <p>In Pantry: </p>
  <p>{{ingredients}}</p>
  <ul>
    <li v-for="ingredient in ingredients">{{ingredient}}</li>

  <ul>
</div>

